body{
    color: #fff;
    width: 100%;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wrapper{
    width: 100%;;
    background-color: #3f6567;
}