@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="presentation">
                <img src="~/img/card.jpg" alt="">
                <span>Строим и продаём</span>
                <p>Строим и продаём Строим и продаём Строим и продаём</p>
            </div>
            <div class="presentation">
                <img src="~/img/card.jpg" alt="">
                <span>Строим и продаём</span>
                <p>Строим и продаём Строим и продаём Строим и продаём</p>
            </div>
            <div class="presentation">
                <img src="~/img/card.jpg" alt="">
                <span>Строим и продаём</span>
                <p>Строим и продаём Строим и продаём Строим и продаём</p>
            </div>
            <div class="presentation">
                <img src="~/img/card.jpg" alt="">
                <span>Строим и продаём</span>
                <p>Строим и продаём Строим и продаём Строим и продаём</p>
            </div>
            <div class="presentation">
                <img src="~/img/card.jpg" alt="">
                <span>Строим и продаём</span>
                <p>Строим и продаём Строим и продаём Строим и продаём</p>
            </div>
            <div class="presentation">
                <img src="~/img/card.jpg" alt="">
                <span>Строим и продаём</span>
                <p>Строим и продаём Строим и продаём Строим и продаём</p>
            </div>